gmc-api/src/main/resources/wsdl/FullGMCConnect.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://webcache.gmc-uk.org/GMCWebServices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="https://webcache.gmc-uk.org/GMCWebServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="https://webcache.gmc-uk.org/GMCWebServices/">
			<s:element name="GetDoctorsForDB">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="request" type="tns:GetDoctorsForDBRequest"/>
						<s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="GetDoctorsForDBRequest">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="DesignatedBodyCode" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="ClientRequestID" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="InternalUser" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="GetDoctorsForDBResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetDoctorsForDBResult" type="tns:GetDoctorsForDBResponseCT"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="GetDoctorsForDBResponseCT">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Doctors" type="tns:ArrayOfGetDoctorsForDBResponse_Doctor"/>
					<s:element minOccurs="0" maxOccurs="1" name="ClientRequestID" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="GMCRequestID" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="ReturnCode" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfGetDoctorsForDBResponse_Doctor">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="GetDoctorsForDBResponse_Doctor" nillable="true" type="tns:GetDoctorsForDBResponse_Doctor"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="GetDoctorsForDBResponse_Doctor">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="GMCReferenceNumber" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="DoctorFirstName" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="DoctorLastName" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="SubmissionDate" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="DoctorStatus" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="Breach" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="DateAdded" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="UnderNotice" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="Investigation" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="PreliminaryInvestigation" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="Sanction" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="CheckRecommendationStatus">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="request" type="tns:CheckRecommendationStatusRequest"/>
						<s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="CheckRecommendationStatusRequest">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="DesignatedBodyId" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="ClientRequestId" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="InternalUserId" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="GMCReferenceNumber" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="RecommendationId" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="CheckRecommendationStatusResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="CheckRecommendationStatusResult" type="tns:CheckRecommendationStatusResponseCT"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="CheckRecommendationStatusResponseCT">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ClientRequestID" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="GMCRequestID" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="ReturnCode" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="TryRecommendation">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="RecReq" type="tns:TryRecommendationRequest"/>
						<s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="TryRecommendationRequest">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="DoctorSurname" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="DoctorUID" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="RoSurname" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="RoUID" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="RoDesignatedBodyCode" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="RoPhoneNumber" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="RoRecommendation" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="RoRecommendationReason" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="RequestedDeferralDate" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="ClientRequestID" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="InternalUser" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="InternalUserEmailAddress" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="TryRecommendationResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="TryRecommendationResult" type="tns:TryRecommendationResponseCT"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="TryRecommendationResponseCT">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="RecommendationID" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="ClientRequestID" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="GMCRequestID" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="ReturnCode" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="TryRecommendationV2">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="RecReq" type="tns:TryRecommendationV2Request"/>
						<s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="TryRecommendationV2Request">
				<s:complexContent mixed="false">
					<s:extension base="tns:TryRecommendationRequest">
						<s:sequence>
							<s:element minOccurs="0" maxOccurs="1" name="RoRecommendationSubreason" type="s:string"/>
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:element name="TryRecommendationV2Response">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="TryRecommendationV2Result" type="tns:TryRecommendationResponseCT"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="TryAddDoctor">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="RecReq" type="tns:TryAddDoctorRequest"/>
						<s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="TryAddDoctorRequest">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="DoctorUID" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="DesignatedBodyCode" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="ClientRequestID" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="ChangeReason" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="InternalUser" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="TryAddDoctorResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="TryAddDoctorResult" type="tns:TryAddDoctorResponseCT"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="TryAddDoctorResponseCT">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ClientRequestID" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="GMCRequestID" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="SubmissionDate" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="ReturnCode" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="TryRemoveDoctor">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="RecReq" type="tns:TryRemoveDoctorRequest"/>
						<s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="TryRemoveDoctorRequest">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="DoctorUID" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="DesignatedBodyCode" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="ChangeReason" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="ClientRequestID" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="InternalUser" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="TryRemoveDoctorResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="TryRemoveDoctorResult" type="tns:TryRemoveDoctorResponseCT"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="TryRemoveDoctorResponseCT">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ClientRequestID" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="GMCRequestID" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="ReturnCode" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="GetDoctorsForDBSoapIn">
		<wsdl:part name="parameters" element="tns:GetDoctorsForDB"/>
	</wsdl:message>
	<wsdl:message name="GetDoctorsForDBSoapOut">
		<wsdl:part name="parameters" element="tns:GetDoctorsForDBResponse"/>
	</wsdl:message>
	<wsdl:message name="CheckRecommendationStatusSoapIn">
		<wsdl:part name="parameters" element="tns:CheckRecommendationStatus"/>
	</wsdl:message>
	<wsdl:message name="CheckRecommendationStatusSoapOut">
		<wsdl:part name="parameters" element="tns:CheckRecommendationStatusResponse"/>
	</wsdl:message>
	<wsdl:message name="TryRecommendationSoapIn">
		<wsdl:part name="parameters" element="tns:TryRecommendation"/>
	</wsdl:message>
	<wsdl:message name="TryRecommendationSoapOut">
		<wsdl:part name="parameters" element="tns:TryRecommendationResponse"/>
	</wsdl:message>
	<wsdl:message name="TryRecommendationV2SoapIn">
		<wsdl:part name="parameters" element="tns:TryRecommendationV2"/>
	</wsdl:message>
	<wsdl:message name="TryRecommendationV2SoapOut">
		<wsdl:part name="parameters" element="tns:TryRecommendationV2Response"/>
	</wsdl:message>
	<wsdl:message name="TryAddDoctorSoapIn">
		<wsdl:part name="parameters" element="tns:TryAddDoctor"/>
	</wsdl:message>
	<wsdl:message name="TryAddDoctorSoapOut">
		<wsdl:part name="parameters" element="tns:TryAddDoctorResponse"/>
	</wsdl:message>
	<wsdl:message name="TryRemoveDoctorSoapIn">
		<wsdl:part name="parameters" element="tns:TryRemoveDoctor"/>
	</wsdl:message>
	<wsdl:message name="TryRemoveDoctorSoapOut">
		<wsdl:part name="parameters" element="tns:TryRemoveDoctorResponse"/>
	</wsdl:message>
	<wsdl:portType name="GMCWebServicesSoap">
		<wsdl:operation name="GetDoctorsForDB">
			<wsdl:input message="tns:GetDoctorsForDBSoapIn"/>
			<wsdl:output message="tns:GetDoctorsForDBSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="CheckRecommendationStatus">
			<wsdl:input message="tns:CheckRecommendationStatusSoapIn"/>
			<wsdl:output message="tns:CheckRecommendationStatusSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="TryRecommendation">
			<wsdl:input message="tns:TryRecommendationSoapIn"/>
			<wsdl:output message="tns:TryRecommendationSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="TryRecommendationV2">
			<wsdl:input message="tns:TryRecommendationV2SoapIn"/>
			<wsdl:output message="tns:TryRecommendationV2SoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="TryAddDoctor">
			<wsdl:input message="tns:TryAddDoctorSoapIn"/>
			<wsdl:output message="tns:TryAddDoctorSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="TryRemoveDoctor">
			<wsdl:input message="tns:TryRemoveDoctorSoapIn"/>
			<wsdl:output message="tns:TryRemoveDoctorSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GMCWebServicesSoap" type="tns:GMCWebServicesSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetDoctorsForDB">
			<soap:operation soapAction="https://webcache.gmc-uk.org/GMCWebServices/GetDoctorsForDB" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CheckRecommendationStatus">
			<soap:operation soapAction="https://webcache.gmc-uk.org/GMCWebServices/CheckRecommendationStatus" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TryRecommendation">
			<soap:operation soapAction="https://webcache.gmc-uk.org/GMCWebServices/TryRecommendation" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TryRecommendationV2">
			<soap:operation soapAction="https://webcache.gmc-uk.org/GMCWebServices/TryRecommendationV2" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TryAddDoctor">
			<soap:operation soapAction="https://webcache.gmc-uk.org/GMCWebServices/TryAddDoctor" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TryRemoveDoctor">
			<soap:operation soapAction="https://webcache.gmc-uk.org/GMCWebServices/TryRemoveDoctor" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="GMCWebServicesSoap12" type="tns:GMCWebServicesSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetDoctorsForDB">
			<soap12:operation soapAction="https://webcache.gmc-uk.org/GMCWebServices/GetDoctorsForDB" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CheckRecommendationStatus">
			<soap12:operation soapAction="https://webcache.gmc-uk.org/GMCWebServices/CheckRecommendationStatus" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TryRecommendation">
			<soap12:operation soapAction="https://webcache.gmc-uk.org/GMCWebServices/TryRecommendation" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TryRecommendationV2">
			<soap12:operation soapAction="https://webcache.gmc-uk.org/GMCWebServices/TryRecommendationV2" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TryAddDoctor">
			<soap12:operation soapAction="https://webcache.gmc-uk.org/GMCWebServices/TryAddDoctor" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TryRemoveDoctor">
			<soap12:operation soapAction="https://webcache.gmc-uk.org/GMCWebServices/TryRemoveDoctor" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GMCWebServices">
		<wsdl:port name="GMCWebServicesSoap" binding="tns:GMCWebServicesSoap">
			<soap:address location="https://webcache.gmc-uk.org/GMCWebServices/WebService.asmx"/>
		</wsdl:port>
		<wsdl:port name="GMCWebServicesSoap12" binding="tns:GMCWebServicesSoap12">
			<soap12:address location="https://webcache.gmc-uk.org/GMCWebServices/WebService.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
